  <!-- القائمة الجانبية -->
<ul class="mcd-menu">
    <li>
        <a href="#" class="active">
            @* <i class="fas fa-home"></i> *@
            <p>
                <strong>الرئيسية</strong>
                <small>لوحة التحكم</small>
            </p>
        </a>
    </li>
    <li>
        <a href="#">
            @* <i class="fas fa-user"></i> *@
            <p>
                <strong>الملف الشخصي</strong>
                <small>إدارة الحساب</small>
            </p>
        </a>
    </li>
    <li>
        <a href="#">
            @* <i class="fas fa-book"></i> *@
            <p>
                <strong>الدورات</strong>
                <small>إدارة الدورات</small>
            </p>
        </a>
        <ul>
            <li><a href="#"><i class="fas fa-list"></i>قائمة الدورات</a></li>
            <li><a href="#"><i class="fas fa-plus"></i>إضافة دورة</a></li>
            <li><a href="#"><i class="fas fa-chart-bar"></i>تقارير الدورات</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            @* <i class="fas fa-users"></i> *@
            <p>
                <strong>المستخدمين</strong>
                <small>إدارة المستخدمين</small>
            </p>
        </a>
        <ul>
            <li><a href="#"><i class="fas fa-list"></i>قائمة المستخدمين</a></li>
            <li><a href="#"><i class="fas fa-user-plus"></i>إضافة مستخدم</a></li>
            <li><a href="#"><i class="fas fa-cog"></i>صلاحيات المستخدمين</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            @* <i class="fas fa-cog"></i> *@
            <p>
                <strong>الإعدادات</strong>
                <small>إعدادات النظام</small>
            </p>
        </a>
    </li>
    <li>
        <a href="#">
            @* <i class="fas fa-sign-out-alt"></i> *@
            <p>
                <strong>تسجيل الخروج</strong>
                <small>خروج آمن</small>
            </p>
        </a>
    </li>
</ul>