@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- bootstrap grid css -->
    <link rel="stylesheet" href="assets2/css/plugins/bootstrap-grid.css">
    <!-- font awesome css -->
    <link rel="stylesheet" href="assets2/css/plugins/font-awesome.min.css">
    <!-- swiper css -->
    <link rel="stylesheet" href="assets2/css/plugins/swiper.min.css">
    <!-- itsulu css -->
    <link rel="stylesheet" href="assets2/css/style.css">
    <title>الجامعة الذكية</title>
</head>
<body>
    <!-- wrapper -->
    <div class="mil-wrapper">
        <!-- top bar -->
        <div class="mil-top-position mil-fixed">
            <div class="mil-top-panel mil-top-panel-transparent mil-animated">
                <!-- mil-top-panel-transparent -->
                <div class="container">
                    <a href="" class="mil-logo" style="width: 140px">
                        <img src="assets2/img/logo/logo-light.png" alt="Logo" style="width: 100%; height: auto;">
                    </a>
                    <div class="mil-navigation">
                        <nav>
                            <ul>
                                <li class="mil-has-children">
                                    <NavLink href="#" class="nav-link" Match="NavLinkMatch.All">الجامعة</NavLink>
                                    <ul>
                                        <li><NavLink class="nav-link" href="/about">عن الجامعة</NavLink></li>
                                        <li><NavLink class="nav-link" href="/techers">الهيئة التدريسية</NavLink></li>
                                        <li><NavLink class="nav-link" href="/techeringmempership">عضو هيئة التدريس</NavLink></li>
                                        <li><NavLink class="nav-link" href="/careers">التوظيف</NavLink></li>
                                        <li><NavLink class="nav-link" href="/tuitionview">الرسوم الدراسية</NavLink></li>
                                        <li><NavLink class="nav-link" href="/quiezview">الأسئلة الشائعة</NavLink></li>
                                        <li><NavLink class="nav-link" href="/eventview">الفعاليات</NavLink></li>
                                    </ul>
                                </li>
                                <li><NavLink class="nav-link" href="/studentsprojects">مشاريع الطلاب</NavLink></li>
                                <li class="mil-has-children">
                                    <NavLink href="#" class="nav-link" Match="NavLinkMatch.All">الخدمات</NavLink>
                                    <ul>
                                        <li><NavLink class="nav-link" href="/official-books">الكتب الرسمية</NavLink></li>
                                        <li><NavLink class="nav-link" href="/elibrary">المكتبة الرقمية</NavLink></li>
                                        <li><NavLink class="nav-link" href="/student-services">الخدمات الطلابية</NavLink></li>
                                    </ul>
                                </li>
                                <li class="mil-has-children">
                                    <NavLink href="#" class="nav-link" Match="NavLinkMatch.All">التخصصات</NavLink>
                                    <ul>
                                        <li><NavLink class="nav-link" href="solution-1.html">هندسة البرمجيات</NavLink></li>
                                        <li><NavLink class="nav-link" href="solution-2.html">الذكاء الاصطناعي</NavLink></li>
                                        <li><NavLink class="nav-link" href="solution-3.html">الروبوتات</NavLink></li>
                                    </ul>
                                </li>
                                <li><NavLink class="nav-link" href="blog.html">الأخبار والأبحاث</NavLink></li>
                                <li><NavLink class="nav-link" href="contact.html">اتصل بنا</NavLink></li>
                                <li class="mil-has-children">
                                    <NavLink href="#" class="nav-link" Match="NavLinkMatch.All">أخرى</NavLink>
                                    <ul>
                                        <li><NavLink class="nav-link" href="coming-soon.html">قريباً</NavLink></li>
                                        <li><NavLink class="nav-link" href="404.html">404</NavLink></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="mil-search-icon">
                                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.5848 19.7029C20.3908 19.8999 20.1358 19.997 19.8808 19.997C19.6268 19.997 19.3718 19.8999 19.1778 19.7029L15.5118 16.2199C13.9778 17.2549 12.3798 17.997 9.92584 17.997C4.98484 17.997 0.964844 13.959 0.964844 8.99695C0.964844 4.34995 4.98484 0.199951 9.92584 0.199951C14.8668 0.199951 18.8858 4.34995 18.8858 8.99695C18.8858 11.118 18.1468 13.68 16.9188 14.608L20.5848 18.29C20.9738 18.681 20.9738 19.3129 20.5848 19.7029ZM9.92584 1.99695C6.82984 1.99695 2.95684 5.13695 2.95684 8.99695C2.95684 12.857 6.82984 15.998 9.92584 15.998C11.8398 15.998 13.5758 15.217 14.8368 13.957C14.8408 13.952 14.8418 13.945 14.8468 13.941C14.8518 13.936 14.8578 13.935 14.8628 13.93C16.1168 12.663 16.8948 10.92 16.8948 8.99695C16.8948 5.13695 13.7678 1.99695 9.92584 1.99695Z" />
                                </svg>
                            </div>
                        </nav>
                    </div>
                    <!-- mobile menu button -->
                    <div class="mil-menu-btn">
                        <span></span>
                    </div>
                    <!-- mobile menu button end -->
                </div>
            </div>
        </div>
        <!-- top bar end -->

        @Body

        <!-- footer -->
        <footer class="mil-dark-bg">
            <img src="assets2/img//deco/map.png" alt="خلفية" class="mil-footer-bg">
            <div class="container">
                <div class="mil-footer-content mil-p-120-90">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-xl-4 mil-mb-30">
                            <img src="assets2/img//logo/logo-light.png" alt="" class="mil-logo mil-mb-30" style="width: 140px">
                            <p class="mil-light-soft mil-mb-30">تقدم الجامعة الذكية تعليماً متطوراً باستخدام أحدث التقنيات لضمان أفضل تجربة تعليمية للطلاب.</p>
                            <a href="#." class="mil-app-btn mil-mb-5">
                                <i class="fab fa-google-play"></i>
                                <div class="mil-app-text">
                                    <span class="mil-accent mil-text-sm">متوفر على</span>
                                    <div class="mil-h6">Google Play</div>
                                </div>
                            </a>
                            <a href="#." class="mil-app-btn">
                                <i class="fab fa-apple"></i>
                                <div class="mil-app-text">
                                    <span class="mil-accent mil-text-sm">تحميل على</span>
                                    <div class="mil-h6">App Store</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-7 mil-mt-60-adapt">
                            <div class="row">
                                <div class="col-lg-7 mil-mb-30">
                                    <h3 class="mil-light mil-up-font mil-mb-30">انضم إلى تجربة <span class="mil-accent">الجامعة الذكية</span></h3>
                                    <p class="mil-light-soft">تقدم الجامعة الذكية تعليماً متطوراً باستخدام أحدث التقنيات.</p>
                                </div>
                                <div class="col-lg-5 mil-mb-30">
                                    <form>
                                        <input class="mil-rounded-input mil-text-center mil-mb-5" type="text" placeholder="عنوان بريدك الإلكتروني">
                                        <button class="mil-button mil-accent-bg mil-fw"><span>اشترك الآن</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mil-divider mil-light"></div>
                <div class="mil-footer-links">
                    <ul class="mil-social mil-light">
                        <li class="mil-adapt-links"><a href="#.">فيسبوك</a><a href="#.">FB</a></li>
                        <li class="mil-adapt-links"><a href="#.">إنستغرام</a><a href="#.">IG</a></li>
                        <li class="mil-adapt-links"><a href="#.">لينكد إن</a><a href="#.">IN</a></li>
                        <li class="mil-adapt-links"><a href="#.">تويتر</a><a href="#.">TW</a></li>
                        <li class="mil-adapt-links"><a href="#.">يوتيوب</a><a href="#.">YT</a></li>
                    </ul>
                    <ul class="mil-additional-links mil-light">
                        <li><a href="#.">الشروط والأحكام</a></li>
                        <li><a href="#.">سياسة الخصوصية</a></li>
                        <li><a href="#.">خريطة الموقع</a></li>
                    </ul>
                </div>
            </div>
            <div class="mil-footer-bottom">
                <div class="container">
                    <p class="mil-text-sm mil-light">© الجامعة الذكية 2026.</p>
                    <p class="mil-text-sm mil-light">جميع الحقوق محفوظة.</p>
                </div>
            </div>
        </footer>
        <!-- footer end -->
    </div>
    <!-- wrapper end -->
    <!-- jQuery js -->
    <script src="assets2/js/plugins/jquery.min.js"></script>
    <!-- swiper js -->
    <script src="assets2/js/plugins/swiper.min.js"></script>
    <!-- itsulu js -->
    <script src="assets2/js/main.js"></script>
    <script src="assets2/js/forms.js"></script>
</body>
</html>
