@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject SignInManager<User> SignInManager
<div class="page">
    @Body
</div>

@code {
    private bool isAuthenticated = true;
    private bool isSidebarCollapsed = false;

    protected override async Task OnInitializedAsync()
    {

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;
        if (!isAuthenticated && !NavigationManager.Uri.Contains("/Login"))
        {
            NavigationManager.NavigateTo("/Login");
        }
    }

    private void ToggleSidebar()
    {
        isSidebarCollapsed = !isSidebarCollapsed;
        StateHasChanged();
    }

    private async Task Logout()
    {
        await SignInManager.SignOutAsync();
        NavigationManager.NavigateTo("/Login", forceLoad: true);
    }
}